{% extends 'z_layout.html' %}

{% block content %}

{% if layout == "default" %}
<div class="page-header">
    <h2>
        <small>
            <span my-translator>Add Attribute</span>
        </small>
    </h2>
</div>
{% endif %}

<div class="row" data-ng-controller="attribute_controller" style="margin-top:20px;">
    <form class="form-horizontal" enctype="multipart/form-data" name="frmAttachment" role="form" data-ng-attr-button='{{button}}' method="post">
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                <label class="col-sm-3 col-md-3 col-lg-3 text-right"><span my-translator>File</span></label>
                <div class="col-sm-8 col-md-8 col-lg-8 nopadding">
                    <input type="file" file-model="myFile" />
                </div>
            </div>
        </div>

        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label class="col-sm-3 col-md-3 col-lg-3 text-right">&nbsp;</label>
                <div class="col-sm-9 col-md-9 col-lg-9 nopadding">
                    <button type="button" class="btn btn-primary" data-ng-click="uploadFile()">
                        <span data-ng-hide="loading">
                            <span my-translator>Attach</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


{% if layout == "default" %}
<script src="/javascripts/controllers/attribute.js"></script>
{% endif %}
{% endblock %}