{% extends 'z_layout.html' %}

{% block content %}
{% if layout == "default" %}
<section class="content-header">
    <h1>
        <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span my-translator>Attributes</span>
    </h1>
</section>
{% endif %}


{% if layout == "ajax" %}
<div class="row" style="padding:0 20px 0 0;">
    <form class="form-horizontal" name="frmAttributes" role="form" data-ng-attr-button='{{button}}' novalidate>
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label class="col-sm-5 col-md-5 col-lg-5 text-right"><span my-translator>To</span></label>
                <div class="col-sm-3 col-md-3 col-lg-3 nopadding">
                    <input type="text" name="to" class="form-control input-sm" data-ng-model="attributes[2].key_value" placeholder="" data-ng-blur="blur(attributes[2].key_name)" my-translator-attr="To" />
                    <span class="label label-danger" data-ng-show="frmUser.attributes[2].key_value.$error.to || submitted && frmUser.attributes[2].key_value.$error.to">
                        <span my-translator>Email is in invalid format.</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 col-md-5 col-lg-5 text-right"><span my-translator>CC</span></label>
                <div class="col-sm-3 col-md-3 col-lg-3 nopadding">
                    <input type="text" name="cc" class="form-control input-sm" data-ng-model="attributes[1].key_value" placeholder="" data-ng-blur="blur(attributes[1].key_name)" my-translator-attr="CC" />
                    <span class="label label-danger" data-ng-show="frmUser.attributes[1].key_value.$error.cc || submitted && frmUser.attributes[1].key_value.$error.cc">
                        <span my-translator>CC is in invalid format.</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 col-md-5 col-lg-5 text-right"><span my-translator>BCC</span></label>
                <div class="col-sm-3 col-md-3 col-lg-3 nopadding">
                    <input type="text" name="bcc" class="form-control input-sm" data-ng-model="attributes[0].key_value" placeholder="" data-ng-blur="blur(attributes[0].key_name)" my-translator-attr="BCC" />
                    <span class="label label-danger" data-ng-show="frmUser.attributes[0].key_value.$error.bcc || submitted && frmUser.attributes[0].key_value.$error.bcc">
                        <span my-translator>BCC is in invalid format.</span>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}