{% extends 'z_layout.html' %}

{% block content %}

{% if layout == "default" %}
<section class="content-header">
    <h1>
        <i class="fa fa-lock"></i>&nbsp;&nbsp;<span my-translator>Change Password</span>
    </h1>
</section>

{% endif %}

<div class="row" data-ng-controller="change_password_controller" style="margin-top:50px;">
    <form class="form-horizontal" name="frmChangePassword" role="form" method="post" data-ng-attr-button='{{button}}' novalidate>
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label class="col-sm-5 col-md-5 col-lg-5 text-right"><span my-translator>Current Password</span></label>
                <div class="col-sm-3 col-md-3 col-lg-3 nopadding">
                    <input id="pwdCurrentPassword" type="password" name="current_password" class="form-control" data-ng-model="current_password" data-ng-pattern="letters_numbers_space_pattern" autocomplete="off" placeholder="" required />
                    <span class="label label-danger" data-ng-show="submitted && frmChangePassword.current_password.$error.pattern">
                        <span my-translator>Current Password contains invalid character</span>
                    </span>
                    <span class="label label-danger" data-ng-show="submitted && frmChangePassword.current_password.$error.required">
                        <span my-translator>Current Password must not be blank</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 col-md-5 col-lg-5 text-right"><span my-translator>New Password</span></label>
                <div class="col-sm-3 col-md-3 col-lg-3 nopadding">
                    <input id="pwdNewPassword" type="password" name="new_password" class="form-control" data-ng-model="new_password" data-ng-pattern="letters_numbers_space_pattern" placeholder="" />
                    <span class="label label-danger" data-ng-show="submitted && frmChangePassword.new_password.$error.pattern">
                        <span my-translator>New Password contains invalid character</span>
                    </span>
                    <span class="label label-danger" data-ng-show="submitted && frmChangePassword.new_password.$error.required">
                        <span my-translator>New Password must not be blank</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 col-md-5 col-lg-5 text-right"><span my-translator>Confirm Password</span></label>
                <div class="col-sm-3 col-md-3 col-lg-3 nopadding">
                    <input id="pwdConfirmPassword" type="password" name="confirm_password" class="form-control" data-ng-model="confirm_password" data-ng-pattern="letters_numbers_space_pattern" placeholder="" />
                    <span class="label label-danger" data-ng-show="submitted && frmChangePassword.confirm_password.$error.pattern">
                        <span my-translator>Confirm Password contains invalid character</span>
                    </span>
                    <span class="label label-danger" data-ng-show="submitted && frmChangePassword.confirm_password.$error.required">
                        <span my-translator>Confirm Password must not be blank</span>
                    </span>
                    <span class="label label-danger" data-ng-show="submitted && frmChangePassword.confirm_password.$error.unique">
                        <span my-translator>Password does not match</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 col-md-5 col-lg-5 text-right">&nbsp;</label>
                <div class="col-sm-5 col-md-5 col-lg-5 nopadding_left">
                    <button id="btnsubmit" type="submit" class="btn btn-primary" data-ng-click="update(frmChangePassword)" data-ng-disabled="frmChangePassword.current_password.$error.required && frmChangePassword.confirm_password.$error.unique">
                        <span data-ng-hide="loading"><span my-translator>Change</span></span>

                        <span data-ng-show="loading">
                            <i class="fa fa-spinner fa-spin"></i>
                            <span my-translator>Changing</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/javascripts/controllers/change_password.js"></script>
