<!-- remove the swig tag for rollback to old method -->
{% extends 'z_layout.html' %}

{% block content %}
<div class="page-header">
</div>

<div class="container container-fluid" style="margin-top:8%;">
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-sm-8 col-md-8 col-lg-8">
        <img src="/images/logo.png" />
        <h1 style="font-size:50px;font-weight:bold;width:50%;display:inline-block;text-align:center;">exProject</h1>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2"></div>

</div>
{% endblock %}