{% extends 'z_layout.html' %}

{% block content %}
{% if layout == "default" %}
<section class="content-header">
    <h1>
        <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span my-translator>Send Email</span>
    </h1>
</section>
{% endif %}

{% if layout == "ajax" %}
<div class="row" style="padding:0 10px 10px 10px;">
    <form class="form-horizontal" name="frmReportSupport" role="form" data-ng-attr-button='{{button}}' novalidate>
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                <label class="col-sm-3 col-md-3 col-lg-3 text-right"><span my-translator>To</span></label>
                <div class="col-sm-7 col-md-7 col-lg-7 nopadding">
                    <input type="text" name="to" class="form-control" data-ng-model="to" placeholder="" title="" my-translator-attr="To" />
                    <span class="label label-danger" data-ng-show="submitted && frmReportSupport.to.$error.required">
                        <span my-translator>To must not be blank.</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                <label class="col-sm-3 col-md-3 col-lg-3 text-right"><span my-translator>CC</span></label>
                <div class="col-sm-7 col-md-7 col-lg-7 nopadding">
                    <input type="text" name="cc" class="form-control" data-ng-model="cc" placeholder="" title="" my-translator-attr="CC" />
                </div>
            </div>
        </div>

        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                <label class="col-sm-3 col-md-3 col-lg-3 text-right"><span my-translator>BCC</span></label>
                <div class="col-sm-7 col-md-7 col-lg-7 nopadding">
                    <input type="text" name="bcc" class="form-control" data-ng-model="bcc" placeholder="" title="" my-translator-attr="BCC" />
                </div>
            </div>
        </div>

        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                <label class="col-sm-3 col-md-3 col-lg-3 text-right"><span my-translator>Subject</span></label>
                <div class="col-sm-7 col-md-7 col-lg-7 nopadding">
                    <input type="text" name="subject" class="form-control" data-ng-model="subject" placeholder="" title="" my-translator-attr="Subject" />
                </div>
            </div>
        </div>

        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label class="col-sm-3 col-md-3 col-lg-3 text-right"><span my-translator>Content</span></label>
                <div class="col-sm-7 col-md-7 col-lg-7 nopadding">
                    <textarea class="form-control" name="email_body" rows="10" data-ng-model="email_body"></textarea>
                </div>
            </div>
        </div>

        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label class="col-sm-3 col-md-3 col-lg-3 text-right">&nbsp;</label>
                <div class="col-sm-9 col-md-9 col-lg-9 nopadding">
                    <button type="button" class="btn btn-primary" data-ng-click="send(frmReportSupport)">
                        <span data-ng-hide="loading"><span my-translator>Send</span></span>

                        <span data-ng-show="loading">
                            <i class="fa fa-spinner fa-spin"></i>
                            <span my-translator>Sending</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}

{% if layout == "ajax" %}
<!--<script src="/javascripts/controllers/report_support.js"></script>-->
{% endif %}
{% endblock %}